api/.env
api/__pycache__/main.cpython-312.pyc
.DS_Store
api/__pycache__/main.cpython-311.pyc
api/__pycache__/models.cpython-311.pyc
api/__pycache__/routes.cpython-311.pyc
frontend/shopping_list.pdf
api/__pycache__/
