.recipe-header{
    padding-bottom: 20px;
    margin: 0 100px 0 !important;
    border-bottom: 1px solid white;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
}

.recipe-summary-column {
    width: 30%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    height: auto;
}

.recipe-steps-column {
    width: 40%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
}

.recipe-images-column {
    width: 30%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
}

.summary-paper {
    height: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: visible;
}

.sharing-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.input-group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 5px;
    margin-top: 10px;
}

.input-textbox {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
}

.submit-button {
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.submit-button:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin-right: 3px;
}

.step {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #333;
    border-radius: 10px;
}

.step:hover {
    background-color: #90caf9;
    color: #000;
    transform: scale(1.02);
}

.helper-text {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 20px;
}

.recipe-image {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

.voice-selector-container {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.recipe-response-container {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}

.interactive-mode-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .recipe-container {
        flex-direction: column;
    }
    
    .recipe-summary-column, 
    .recipe-steps-column, 
    .recipe-images-column {
        width: 100%;
        margin-bottom: 20px;
        max-height: none;
    }
}